* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: radial-gradient(rgb(178, 225, 243), rgb(98, 174, 209));
    font-size: 16px;
}

.container {
    max-width: 1300px;
    margin: auto;
}

header {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 30px;
    padding: 15px 60px;
    font-weight: 700;
    box-shadow: 0 4px 14px;
}

.picture {
    width: 50px;
}

.logo {
    display: grid;
    grid-template-columns: repeat(2, minmax(350px, 1fr));
    margin-top: 20px;
    
}

.logo-image {
    width: 400px;
    height: 400px;
    margin-top: 30px;
    margin-bottom: 10px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.logo-image-1 {
    width: 400px;
    height: 400px;
    margin-top: 30px;
    margin-bottom: 10px;
    border-radius: 10px;
    margin-bottom: 30px;
    box-shadow: 0 4px 14px black;
}

h2 {
    margin-top: 30px;
    margin-bottom: 30px;
}

p {
    margin-top: 20px;
}


.menu {
    background-color: white;
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 30px;
    list-style: none;
}

.menu li a{
    display: inline-block;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-decoration: none;
    font-size: 16px;
    border-radius: 12px;
    padding: 8px 15px;
    transition: 0.5s;
}

.menu li a:hover {
    transform: scale(1.1);
}

.card-register {
    background-color: white;
    text-align: center;
    margin-top: 30px;
    font-size: 2.5rem;
    padding: 300px;
    border-radius: 10px;
}

.card-register a {
    font-size: 1.5rem;
    color: black;
}

footer {
    background-color: black;
    color: white;
    font-size: 1.2rem;
    text-align: center;
    line-height: 0.5;
    padding: 30px;
    margin-top: 50px;
}